extends base

block head 
    title Quản lý Admin

block content

    .container-title Danh sách quản lý
    .container-navigation
        .container-search
            .container-find
            input.search(type='text' placeholder='Tìm kiếm theo tên quản lý')
   
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#addNewModal' type='button') Th&ecirc;m m&#x1EDB;i
    .table#admin
        .table-header
            .table-header-title 
            .table-pagination
        .table-body
            table#table
        
        .pagination
                
    #addNewModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thêm mới quản lý
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='') Tên quản lý
                        input.input-text#name(type='text' placeholder='Tối đa 20 ký tự...')
                    div.mt-3
                        label(for='') Chức vụ
                        input.input-text#position(type='text' placeholder='Nhập vị trí')
                    div.mt-3
                        label(for='') Số điện thoại
                        input.input-text#phone(type='text' placeholder='Nhập số điện thoại')
                    div.mt-3
                        label(for='') Email
                        input.input-text#email(type='email' placeholder='Nhập Email')
                    div.mt-3
                        label(for='') Mật khẩu
                        input.input-text#password(type='password' placeholder='Nhập mật khẩu')

                .modal-footer
                    button.btn.btn-primary.btn-add-new(type='button') Tạo
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng



    #updateModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Cập nhật
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='') Tên quản lý
                        input.input-text#nameUpdate(type='text' placeholder='Tối đa 20 ký tự...')
                    div.mt-3
                        label(for='') Chức vụ
                        input.input-text#positionUpdate(type='text' placeholder='Nhập vị trí')
                    div.mt-3
                        label(for='') Số điện thoại
                        input.input-text#phoneUpdate(type='text' placeholder='Nhập số điện thoại')
                    div.mt-3
                        label(for='') Email
                        input.input-text#emailUpdate(type='email' placeholder='Nhập Email')
                    div.mt-3
                        label(for='') Mật khẩu
                        input.input-text#passwordUpdate(type='text' placeholder='Nhập mật khẩu')

                .modal-footer
                    button.btn.btn-primary.btn-update(type='button') Cập nhật
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


    #infoModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thông tin
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='') Tên quản lý
                        input.input-text#nameInfo(type='text' placeholder='Tối đa 20 ký tự...' disabled)
                    div.mt-3
                        label(for='') Chức vụ
                        input.input-text#positionInfo(type='text' placeholder='Nhập vị trí' disabled)
                    div.mt-3
                        label(for='') Số điện thoại
                        input.input-text#phoneInfo(type='text' placeholder='Nhập số điện thoại' disabled)
                    div.mt-3
                        label(for='') Email
                        input.input-text#emailInfo(type='email' placeholder='Nhập Email' disabled)

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


