doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet')
  script(src='https://code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/toast.css')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css')
  link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css')

  link(rel='stylesheet' href='/css/admin/style.css')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js' type='text/javascript')
  block head
    title= 'Ký túc xá'
nav.sidebar
  header
    .image-text
      span.image
        img(src='/img/logo.png' alt='')
      .text.logo-text
        span.name Ký Túc Xá
    i.bx.bx-chevron-right.toggle
  .menu-bar
    .menu
      ul.menu-links
        li.nav-link
          a(href='/admin/')
            i.bx.bx-bar-chart.icon
            span.text.nav-text Thống kê
        li.nav-link
          a(href='/admin/contract')
            i.bx.bx-food-menu.icon
            span.text.nav-text Quản lý hợp đồng
        li.nav-link
          a(href='/admin/building')
            i.bx.bx-buildings.icon
            span.text.nav-text Quản lý toàn nhà
        li.nav-link
          a(href='/admin/room')
            i.bx.bx-home.icon
            span.text.nav-text Quản lý phòng
        li.nav-link
          a(href='/admin/student')
            i.bx.bx-male-female.icon
            span.text.nav-text Quản lý sinh viên
        li.nav-link
          a(href='/admin/admin')
            i.bx.bxs-user-account.icon
            span.text.nav-text Quản lý admin
        li.nav-link
          a(href='/admin/invoice')
            i.bx.bx-receipt.icon
            span.text.nav-text Quản lý điện nước
        li.nav-link
          a(href='/admin/reflect')
            i.bx.bx-wallet.icon
            span.text.nav-text Quản lý phản ánh
section.home
  .header
    .user-control(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
      img(src='/img/avatar.png' alt='')
      .user-info
        .user-name= admin.name
        .user-role= admin.position
    .dropdown-menu(aria-labelledby='${building._id}')
      .dropdown-item.logout-btn.btn(data-toggle='modal' data-target='#infoModal') Đăng xuất

  .container-body
    block content

script(type='text/javascript' src='/js/static/bootstrap.bundle.min.js')
script(type='text/javascript' src='/js/util/toast.js')
script(type='text/javascript' src='/js/static/jquery-3.6.0.min.js')
//- script(type='text/javascript' src='/js/static/axios.min.js')
//- script(type='text/javascript' src='/js/static/chosen.jquery.min.js')
//- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
//- script(type='text/javascript' src='/js/static/bootstrap-select.min.js')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js')
script(type='text/javascript' src='/js/admin/bundle.js')
