extends base

block head 
    title Quản lý hợp đồng


block content

    .container-title Danh sách hợp đồng
    .container-navigation
        .container-search
            .container-find
            input.search(type='text' placeholder='Tìm kiếm theo mã số sinh viên')
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#addNewModal' type='button') Tạo hợp đồng
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#extendModal' type='button') Gia hạn hợp đồng
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#cancelModal' type='button') Huỷ hợp đồng
    .table#contract
        .table-header
            //- .table-header-title 
            //- .table-pagination
        .table-body
            table#table
        
        .pagination
                
    #addNewModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title  Tạo hợp đồng
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    label(for='') Sinh viên
                    select#studentSelect.custom-select.custom-select-lg.mb-3(data-placeholder='Chọn tên phân loại')
                        option(value='') Chọn sinh viên
                    label(for='') Ngày bắt đầu
                    input.input-text#startDate(type='date' placeholder='Nhập số phòng')
                    label(for='') Ngày kết thúc
                    input.input-text#dueDate(type='date' placeholder='Nhập số sinh viên tối đa')

                .modal-footer
                    button.btn.btn-primary.btn-add-new(type='button') Tạo
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng

    #extendModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title  Gia hạn hợp đồng
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    label(for='') Sinh viên
                    select#studentSelectExtend.custom-select.custom-select-lg.mb-3(data-placeholder='Chọn tên phân loại')
                        option(value='') Chọn sinh viên
                    label(for='') Ngày kết thúc
                    input.input-text#dueDateExtend(type='date' placeholder='Nhập số sinh viên tối đa')

                .modal-footer
                    button.btn.btn-primary.btn-extend(type='button') Tạo
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng

    #cancelModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title  Huỷ hợp đồng
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    label(for='') Sinh viên
                    select#studentSelectCancel.custom-select.custom-select-lg.mb-3(data-placeholder='Chọn tên phân loại')

                .modal-footer
                    button.btn.btn-primary.btn-cancel(type='button') Tạo
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng
