

extends base

block head 
    title Trang chủ

block content
    #dashboard
    input(type="month" id="date" name="start" min="2018-03" value="2018-05")
    #invoiceDashboard(style='width:100%; height:80vh;')
    #contractDashboard(style='width:100%; height:80vh;')