extends base

block head 
    title Quản lý phản ánh


block content

    .container-title Danh sách phản ánh
    .container-navigation
        .container-search
            .container-find
            input.search(type='text' placeholder='Tìm kiếm theo mã số sinh viên')
    .table#reflect
        .table-header
            .table-header-title 
            .table-pagination
        .table-body
            table#table
        
        .pagination
                

    #updateModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Cập nhật trạng thái
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='') Nhập trạng thái
                        input.input-text#statusUpdate(type='text' placeholder='Nhập trạng thái mới')
                .modal-footer
                    button.btn.btn-primary.btn-update(type='button') Cập nhật
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


    #infoModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thông tin
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='') Tiêu đề
                        input.input-text#titleInfo(type='text' placeholder='Tối đa 20 ký tự...' disabled)
                    div.mt-3
                        label(for='') Sinh viên
                        input.input-text#studentInfo(type='text' placeholder='Nhập số lượng phòng' disabled)
                    div.mt-3
                        label(for='') Mã sinh viên
                        input.input-text#studentIDInfo(type='text' placeholder='Nhập số lượng phòng' disabled)
                    div.mt-3
                        label(for='') Nội dung
                        input.input-text#contentInfo(type='text' placeholder='Nhập số lượng phòng' disabled)

                    div.mt-3
                        label(for='') Trạng thái
                        input.input-text#statusInfo(type='text' placeholder='Nhập giá phòng' disabled)

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


