extends base

block head 
    title Quản lý sinh viên

block content

    .container-title Danh sách sinh viên
    .container-navigation
        .container-search
            .container-find
            input.search(type='text' placeholder='Tìm kiếm theo tên sinh viên')
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#addNewModal' type='button') Th&ecirc;m m&#x1EDB;i
    .table#student
        .table-header
            .table-header-title 
            .table-pagination
        .table-body
            table#table
        
        .pagination
                
    #addNewModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thêm mới
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='')  Mã sinh viên
                        input.input-text#studentID(type='text' placeholder='Nhập mã sinh viên')
                    div.mt-3
                        label(for='') Họ tên
                        input.input-text#name(type='text' placeholder='Nhập họ tên sinh viên')
                    div.mt-3
                        label(for='') Lớp
                        input.input-text#class(type='text' placeholder='Nhập lớp sinh viên')
                    div.mt-3
                        label(for='') Khoá
                        input.input-text#academic(type='text' placeholder='Nhập khoá sinh viên')
                    div.mt-3
                        label(for='') Địa chỉ
                        input.input-text#address(type='text' placeholder='Nhập địa chỉ sinh viên')
                    div.mt-3
                        label(for='') Ngày sinh
                        input.input-text#dateOfBirth(type='date' placeholder='Nhập ngày sinh sinh viên')
                    div.mt-3
                        label(for='') Số điện thoại
                        input.input-text#phone(type='text' placeholder='Nhập số điện thoại')
                    div.mt-3
                        label(for='') Giới tính:
                        input#maleGender.gender.form-check-input(type='radio'  name='genderUpdate' value='male' checked)
                        label(for='maleGender') Nam
                        input#femaleGender.gender.form-check-input(type='radio' name='genderUpdate' value='female' )
                        label(for='femaleGender') Nữ
                    div.mt-3
                        label(for='') Thông tin bố
                        input.input-text#father(type='text' placeholder='Nhập thông tin bố sinh viên sinh viên')
                    div.mt-3
                        label(for='') Thông tin mẹ
                        input.input-text#mother(type='text' placeholder='Nhập thông tin mẹ sinh viên sinh viên')

                .modal-footer
                    button.btn.btn-primary.btn-add-new(type='button') Tạo
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng



    #updateModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Cập nhật
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='')  Mã sinh viên
                        input.input-text#studentIDUpdate(type='text' placeholder='Nhập mã sinh viên')
                    div.mt-3
                        label(for='') Họ tên
                        input.input-text#nameUpdate(type='text' placeholder='Nhập họ tên sinh viên')
                    div.mt-3
                        label(for='') Lớp
                        input.input-text#classUpdate(type='text' placeholder='Nhập lớp sinh viên')
                    div.mt-3
                        label(for='') Khoá
                        input.input-text#academicUpdate(type='text' placeholder='Nhập khoá sinh viên')
                    div.mt-3
                        label(for='') Địa chỉ
                        input.input-text#addressUpdate(type='text' placeholder='Nhập địa chỉ sinh viên')
                    div.mt-3
                        label(for='') Ngày sinh
                        input.input-text#dateOfBirthUpdate(type='date' placeholder='Nhập ngày sinh sinh viên')
                    div.mt-3
                        label(for='') Số điện thoại
                        input.input-text#phoneUpdate(type='text' placeholder='Nhập số điện thoại')
                    div.mt-3
                        label(for='') Giới tính:
                        input#maleGenderUpdate.gender.form-check-input(type='radio'  name='gender' value='male' checked)
                        label(for='maleGender') Nam
                        input#femaleGenderUpdate.gender.form-check-input(type='radio' name='gender' value='female' )
                        label(for='femaleGender') Nữ
                    div.mt-3
                        label(for='') Thông tin bố
                        input.input-text#fatherUpdate(type='text' placeholder='Nhập thông tin bố sinh viên sinh viên')
                    div.mt-3
                        label(for='') Thông tin mẹ
                        input.input-text#motherUpdate(type='text' placeholder='Nhập thông tin mẹ sinh viên sinh viên')
                    div.mt-3
                        label(for='') Mật khẩu
                        input.input-text#passwordUpdate(type='password' placeholder='Cập nhật mật khẩu sinh viên')

                .modal-footer
                    button.btn.btn-primary.btn-update(type='button') Cập nhật
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


    #infoModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thông tin
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='')  Mã sinh viên
                        input.input-text#studentIDInfo(type='text' placeholder='Nhập mã sinh viên' disabled)
                    div.mt-3
                        label(for='') Họ tên
                        input.input-text#nameInfo(type='text' placeholder='Nhập họ tên sinh viên' disabled)
                    div.mt-3
                        label(for='') Lớp
                        input.input-text#classInfo(type='text' placeholder='Nhập lớp sinh viên' disabled)
                    div.mt-3
                        label(for='') Khoá
                        input.input-text#academicInfo(type='text' placeholder='Nhập khoá sinh viên' disabled)
                    div.mt-3
                        label(for='') Địa chỉ
                        input.input-text#addressInfo(type='text' placeholder='Nhập địa chỉ sinh viên' disabled)
                    div.mt-3
                        label(for='') Ngày sinh
                        input.input-text#dateOfBirthInfo(type='date' placeholder='Nhập ngày sinh sinh viên' disabled)
                    div.mt-3
                        label(for='') Số điện thoại
                        input.input-text#phoneInfo(type='text' placeholder='Nhập số điện thoại')
                    div.mt-3
                        label(for='') Giới tính:
                        input#maleGenderInfo.gender.form-check-input(type='radio'  name='gender' value='male' disabled)
                        label(for='maleGender') Nam
                        input#femaleGenderInfo.gender.form-check-input(type='radio' name='gender' value='female' disabled)
                        label(for='femaleGender') Nữ
                    div.mt-3
                        label(for='') Thông tin bố
                        input.input-text#fatherInfo(type='text' placeholder='Nhập thông tin bố sinh viên sinh viên' disabled)
                    div.mt-3
                        label(for='') Thông tin mẹ
                        input.input-text#motherInfo(type='text' placeholder='Nhập thông tin mẹ sinh viên sinh viên' disabled)

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


    #disciplineModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Cập nhật
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='')  Mã sinh viên
                        input.input-text#studentIDDiscipline(type='text' placeholder='Nhập mã sinh viên' disabled)
                    div.mt-3
                        label(for='')  Tên sinh viên
                        input.input-text#nameDiscipline(type='text' placeholder='Nhập mã sinh viên' disabled)
                    div.mt-3
                        label(for='') Lý do kỷ luật
                        textarea.input-text#reasonDiscipline(type='text' placeholder='Nhập họ tên sinh viên')
                .modal-footer
                    button.btn.btn-primary.btn-discipline(type='button') Cập nhật
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng

