extends base

block head 
    title Quản lý hợp đồng


block content

    .container-title Danh sách hợp đồng
    .container-navigation
        .container-search
            .container-find
            input(type='text' placeholder='Tìm kiếm theo mã số sinh viên')
            // <div class="container-filter">Bộ lọc</div>
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#addNewModal' type='button') Tạo hợp đồng
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#extendModal' type='button') Gia hạn hợp đồng
    .table#contract
        .table-header
            //- .table-header-title 4 K&#x1EBF;t qu&#x1EA3;
            //- .table-pagination
        .table-body
            table#table
        
        .pagination
                


    #infoModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thông tin
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    label(for='') Sinh viên
                    //- select#studentSelectInfo.custom-select.custom-select-lg.mb-3(disabled data-placeholder='Chọn tên phân loại')
                    //-     option(value='')
                    //-     each student in allStudent
                    //-         option(value= student.id)= `${student.name} - ${student.studentID}`
                    label(for='') Ngày bắt đầu
                    input.input-text#startDateInfo(type='date' disabled placeholder='Nhập số phòng')
                    label(for='') Ngày kết thúc
                    input.input-text#dueDateInfo(type='date' disabled placeholder='Nhập số sinh viên tối đa')

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


