extends base

block head 
    title Quản lý hợp đồng


block content

    .container-title Danh sách hợp đồng
    .container-navigation
        .container-search
            .container-find


    .table#contract
        .table-header

        .table-body
            table#table
        
        .pagination
                


    #infoModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thông tin
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    label(for='') Sinh viên

                    label(for='') Ngày bắt đầu
                    input.input-text#startDateInfo(type='date' disabled placeholder='Nhập số phòng')
                    label(for='') Ngày kết thúc
                    input.input-text#dueDateInfo(type='date' disabled placeholder='Nhập số sinh viên tối đa')

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


