doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  script(src='https://code.jquery.com/jquery-2.2.4.min.js' integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=' crossorigin='anonymous')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/admin/login.css')
  link(rel='stylesheet' href='/css/toast.css')
  title Login
section.area-login
  .login#login
    h1 Đăng nhập
    form(action='#')
      input#studentID(type='text' name='StudentID' placeholder='StudentID' autofocus='')
      input#password(type='password' name='password' placeholder='Password')
      input#submit(type='submit' value='Đăng nhập')


script(type='text/javascript' src='/js/util/jquery-3.6.0.min.js')
script(type='text/javascript' src='/js/util/toast.js')
script(type='text/javascript' src='/js/student/bundle.js')
