extends base

block head 
    title Quản lý toàn nhà


block content

    .container-title Danh sách toà nhà
    .container-navigation
        .container-search
            .container-find
            input(type='text' placeholder='Tìm kiếm theo mã số sinh viên')
            // <div class="container-filter">Bộ lọc</div>
        button.btn.btn-primary.btn-new(data-toggle='modal' data-target='#addNewModal' type='button') Th&ecirc;m m&#x1EDB;i
    .table#building
        .table-header
            .table-header-title 4 K&#x1EBF;t qu&#x1EA3;
            .table-pagination
        .table-body
            table#table
        
        .pagination
                
    #addNewModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Cập nhật
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='')  Mã sinh viên
                        input.input-text#studentIDDiscipline(type='text' placeholder='Nhập mã sinh viên' disabled)
                    div.mt-3
                        label(for='')  Tên sinh viên
                        input.input-text#nameDiscipline(type='text' placeholder='Nhập mã sinh viên' disabled)
                    div.mt-3
                        label(for='') Lý do kỷ luật
                        textarea.input-text#reasonDiscipline(type='text' placeholder='Nhập họ tên sinh viên')
                .modal-footer
                    button.btn.btn-primary.btn-discipline(type='button') Cập nhật
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng

    #infoModal.modal.fixed-left.fade(tabindex='-1' role='dialog')
        .modal-dialog.modal-dialog-aside.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Thông tin
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    div.mt-3
                        label(for='') Tên toà nhà
                        input.input-text#nameBuildingInfo(type='text' placeholder='Tối đa 20 ký tự...')
                    div.mt-3
                        label(for='') Số lượng phòng
                        input.input-text#numberOfRoomsInfo(type='number' placeholder='Nhập số lượng phòng')
                    div.mt-3
                        label(for='') Đơn giá phòng (Giá(VNĐ)/Tháng/Sinh Viên)
                        input.input-text#unitPriceInfo(type='number' placeholder='Nhập giá phòng')

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') &Dstrok;&oacute;ng


