extends base

block head 
    title Danh sách bạn cùng phòng

block content

    .container-title= `Danh sách bạn cùng phòng ${student.room ? `${student.room.roomNumber} - ${student.room.building.name}` : ''} `
      
    .table#room
        .table-header
        .table-body
            table#table
        
        .pagination
                
